body {
	
	font-family: 'Lucida Grande';
	line-height: 1.2em;
	
}

a {
	
	text-decoration: none;
	
}

div#header {
	
	margin-bottom: 20px;
	padding: 10px;
	
}

div#canvas_content {
	
	background: none;
	
}

img#canvas_bg {
	
	position: absolute;
	height: 230px;
	width: 205px;
	opacity: 0.1;
	display: none;
	
}

div#header h1 {
	
	font-style: italic;
	
}

span#header_desc {
	
	color: #aaa;
	font-size: .8em;
	
}

img#loader {
	
	width: 32px;
	height: 32px;
	float: right;
	display: none;
	
}

div#canvas {
	

	width: 600px;
	margin: 10px auto 30px auto;
	padding: 10px;
	background: white;
	
}

div.last_update:before {
	
	content: "Last update: ";
}

div.last_update {
	
	color: #aaa;
	font-style: italic;
	padding: 10px;
	display: none;
	
}

div.tweet {

	margin: 4px;
	padding: 6px;
	display: none;
	
	
}

div.tweet_top {
	
}

div.tweet_bottom {
	
}

div.tweet_right {
	
}

div.tweet_left {
	
}

div.the_tweet {
	
	background: #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #aaa;
	
}

div.the_tweet:hover {
	
	background: #ccc;
	
}

div.favorite_tweet .the_tweet {
	
	background: #FFFEBC;
	
}

div.reply_icon,div.favorite_icon,div.retweet_icon {
	
	float: right;
	color: #aaa;
	font-size: .8em;
	font-style: italic;
	cursor: pointer;
	
}

div.reply_icon img,div.favorite_icon img,div.retweet_icon img {
	width: 20px;
	height: 20px;
}



div.tweet a.user_name {
	
	font-weight: bold;
	color: #0084B4;
	text-decoration: none;
	
}

div.the_tweet {
	
	float: left;
	padding: 4px 10px 4px 10px;
	width: 500px;
	
}

span.tweet_text {
	
	display: block;
	
}

span.tweet_meta {
	
	color: #aaa;
	font-style: italic;
	font-size: .8em;
	float: left;
	
}

span.tweet_meta a {
	
	color: #aaa;
	
}

div.tweet img.avatar {
	
	width: 48px;
	height: 48px;
	
}

div.avatar_container {
	
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 55px;
	height: 100%;
	
}

span.dm_notify_box {
	
	font-size: .8em;
	font-style: italic;
	display: block;
	
}

textarea.tweet_input {
	
	width: 100%;
	font-size: 1.3em;
	
}

input.tweet_submit {
	
	float: right;
	width: 200px;
	height: 30px;
	margin-top: 4px;
	
}

/* nav */

div.more_tweets {
	
	cursor: pointer;
	
}

div.nav_button, div.tweet_type_button {
	
	border: 1px solid #aaa;
	background: #eee;
	padding: 4px 10px;
	float: left;
	cursor: pointer;
	width: 72px;
	overflow: hidden;
	height: 22px;
	
}

div.button_highlighted {
	
	width: auto;
	background: #fff;
	border-bottom: 1px solid #fff;
	
}

div.nav_button {
	
	padding-right: 2px;
	
}

img.close_panel {
	
	width: 20px;
	height: 20px;
	margin-left: 4px;
	vertical-align: middle;
	cursor: pointer;
}

img#new_panel_button, img#logout_button, img#refresh_button, img#search_panel_button {
	
	float: right;
	width: 32px;
	height: 32px;
	cursor: pointer;
	
}

div#nav_buttons {
	
	width: 400px;
	
}

div#nav_buttons_wrapper {
	
	margin-bottom: 10px;
	
}


div#login_form {
	
	display: none;
	line-height: 1.4em;
	padding: 20px;
	border: 1px solid #aaa;
	margin-bottom: 10px;
	text-align: center;
	
}

#account_type {
	
	
}

input#login_button {
	
	width: 200px;
	height: 30px;
	margin-top: 12px;
	
}

div#login_form label {
	
	width: 6em;
	display: block;
	float: left;
	
}

div#login_form input[type="text"],  div#login_form input[type="password"]  {
	
	width: 200px;
	
}

div.direct_options a {
	
	display: block;
	width: 190px;
	padding: 4px;
	background: #ccc;
	float: left;
	margin-right: 10px;
	text-align: center;
	color: black;
	
}

div.direct_options {
	
	width: 416px;
	margin: 10px auto;
	
}

br.clear_both {
	
	clear: both;
	
}


/* About */

div#about li {
	
	padding-bottom: 6px;
	
}

div#about ul li p {
	
	line-height: 1.4em;
	
}

div#about h2 {
	
	text-align: center;
	
}

h2.start_using a {
	
	color: red;
	
}

img.button_sample {
	
	height: 48px;
	width: 48px;
	vertical-align: middle;
	margin-right: 10px;
	
}

/* Notify window */

#notify_overlay {
	
	background: black;
	width: 100%;
	height: 500px;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	
}

#notify_window {
	
	position: absolute;
	background-color: white;
	border: 1px solid #aaa;
	width: 380px;
	padding: 10px;
	display: none;
	top: 10;
	left: 10;
	z-index: 100;
	
}

img#notify_close_button {
	
	float: right;
	width: 20px;
	height: 20px;
	margin-left: 4px;
	vertical-align: middle;
	cursor: pointer;
}


/* for displaying a user */

#notify_window img.avatar {
	
	vertical-align: middle;
	padding: 6px;
	float: left;
	
}

#notify_window span.user_name {
	
	font-weight: bold;
	display: block;
	color: #0084B4;
	margin-bottom: 10px;
	
}

div.user_stats {
	
	clear: both;
	
}

#notify_window div.user_stats label {
	
	font-weight: bold;
	padding-right: 6px;
	
}

#notify_window div.user_tweets ul li {
	
	padding-bottom: 10px;
	
}



/* footer */

div#footer {
	
	background: white;
	font-size: .8em;
	width: 400px;
	padding: 6px;
	margin: 16px auto;
	text-align: center;
	font-weight: bold;
	
}


